/* page content */

.form-group label, .form-group input {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7B7B7B;
}

.form-group label {
  text-transform: uppercase;
}

.form-group input {
  background: #F2F3F3;
  border: none;  
  border-radius: 12px;

  display: block;
  height: 55px;

  padding-left: 5px;
  margin-top: 3px;
  margin-bottom: 20px;

  font-family: inherit;
  color: #8A8A8A;
}


.form-control-plus-minus {
  display: block;
  padding: inherit;
  margin: 10px 85px;
}

#minus {
  margin-right: 30px;
}

.add-members h2 {
  margin-bottom: 20px;
}

/*.button {
  padding-left: 204.015px;
  padding-right: 204.015px;
}*/

/*.button-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 277px;
  height: 75px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #FFF;
  text-transform: uppercase;
  border: transparent;
  border-radius: 10px;
  background: linear-gradient(45deg, #1DC5E9, #1DE0C4);
}*/

/* tooltip in Household Name */

.tooltip img {
  position: relative;
  display: flex;
  padding-top: 10px;/* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  top: 300px;
  left: 600px;
  background-color: #3D3D3D;
  color: #fff;
  text-align: center;
  padding: 30px 30px;
  border-radius: 16px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  text-transform: none;

  
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}


.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #3D3D3D transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}